<div class="card">
  <div class="card-header">
    <p class="fs-1 m-0 text-center bg-dark text-white">Nova Pergunta</p>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-12">
          <label for="question-title" class="form-label fs-5">Título da Pergunta</label>
          <input 
            type="text" 
            id="question-title" 
            placeholder="Meu título" 
            class="form-control"
            [(ngModel)]="title"
            name="title"
          >
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <label for="question-body" class="form-label fs-5">Escreva sua pergunta</label>
          <textarea 
            class="form-control"
            id="question-body"
            style="min-height: 200px;"
            [(ngModel)]="body"
            name="body"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer d-grid">
    <button class="btn btn-info" (click)="emitSendEvent()">Enviar</button>
  </div>
</div>
